@import url("https://fonts.googleapis.com/css?family=IM+Fell+English&display=swap");
@font-face {
    font-family: "houses";
    src: url("../fonts/houses.eot?lp4k1a");
    src: url("../fonts/houses.eot?lp4k1a#iefix") format("embedded-opentype"),
        url("../fonts/houses.ttf?lp4k1a") format("truetype"),
        url("../fonts/houses.woff?lp4k1a") format("woff"),
        url("../fonts/houses.svg?lp4k1a#houses") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "got";
    src: url("../fonts/got.eot?lp4k1a");
    src: url("../fonts/got.eot?lp4k1a#iefix") format("embedded-opentype"),
        url("../fonts/got.ttf?lp4k1a") format("truetype"),
        url("../fonts/got.woff?lp4k1a") format("woff"),
        url("../fonts/got.svg?lp4k1a#houses") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
